body {
    background-color: #7FFFD4;	
}

#banner1 {
    width: 100%;
    text-align: right;
}

#banner2 {
    width: 50%;
    text-align: right;
}

#banner3 {
    width: 100%;
    text-align: right;
}

h1 {
  text-align: center;
}

p {backgroud-color
  text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}
#neymar { 
    color: blue;
    text-align: left; 
} 

#jogador {
    color:  rgb(158,108,15); 
    text-align: right;  
}

#melhor {
    color: red; 
}
