body {
    backgroud-color: #CCCCCC
}

#banner {
    width: 50%;
    text-align: right;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}
